html,
* {
  z-index: 1;
}

body {
  background-color: black;
  color: white;
  padding: 0px;
  margin: 0px;
  letter-spacing: 2px;
  line-height: 30px;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.lh-2 {
  line-height: 2;
}

.li-05 {
  line-height: 1.5;
}

* {
  box-sizing: border-box;
}

.char-show {
  max-width: 500px;
  height: 500px;
  transition: 0.2s;
}

.char-hide {
  height: 0px;
  transition: 0.2s;
}

.glow:hover {
  background-color: rgb(230, 16, 158);
  transition: 1s;
  cursor: pointer;
}

.color_5ff {
  color: #e70941;
}

.gameModes {
  width: 100%;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-items: center;
  align-items: center;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    padding: 0px;
    margin: 0px;
  }

  body {
    color: white;
    background: black;
    padding: 0px;
    margin: 0px;
  }
}




.purple5 {
  color: #1c001c;
}

.purple5-bg {
  background-color: #1c001c;
}

._desc {
  opacity: 0%;
}

._desc:hover {
  opacity: 100%;
}

.btnFx {
  background-image: linear-gradient(80deg, #f15cde, #0c0c0c, #f15cde);
  text-align: center;
  width: 350px;
  color: #fff;
  text-decoration: none;
  font-weight: normal;
  overflow: hidden;
  background-color: #000000;
  border-radius: 6px;
  padding: 2px;
}

.btnFx {
  animation: play 2s ease-out infinite;
}

.btnFx .linked {
  padding: 30px;
  display: block;
  margin: 1px;

  background: #000000;
  border-radius: 6px;
}

.btnFx .linked:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(13, 230, 129);
  transition: 1s;
}

@keyframes play {
  0% {
    background-position: -350px;
  }

  100% {
    background-position-x: 350px;
  }
}

.bannerMedia {
  width: 600px;
  height: 500px;
}

@media (max-width: 900px) {
  .char-show {
    max-width: 500px;
    height: 500px;
    transition: 0.2s;
  }
}

@media (max-width: 600px) {
  .bannerMedia {
    width: 400px;
    height: 300px;
  }
  .hideWhenSmall {
    display: none;
  }
  .char-show {
    height: 360px;
    transition: 0.2s;
  }

  @keyframes play {
    0% {
      background-position: 0px;
    }

    100% {
      background-position-x: 350px;
    }
  }
}

@media (min-width: 600px) {
  .hideWhenBig {
    display: none;
  }
}

.slow {
  animation: slide 10s linear infinite;
}

@keyframes slide {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-2px);
  }
}

.toCenter {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.shadow-text {
  text-shadow: 0px 8px 8px #000000;
}

.red-border {
  font-size: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 1px rgb(231, 109, 109);
}

.border_5ff {
  border-bottom: solid 1px #ffffff67;
  box-shadow: inset 0px -8px 8px -4px #e7094c;
  background-color: rgba(70, 29, 48, 0);
}

.color_5ff {
  color: #e7094c;
}

.bg_5ff {
  background-color: #e7094c;
}

.nav_gradient {
  background: rgb(232, 15, 92);
  background: linear-gradient(
    0deg,
    rgba(232, 15, 92, 1) 0%,
    rgba(0, 0, 0, 0.5438376034007353) 100%
  );
}

.emailBg {
  background-image: url("../Components//assets/bg-3.gif");

  background-repeat: no-repeat;
  background-size: cover;
}
.emailCocoaButter {
  width: 1000px;
  height: auto;
}

.release {
  width: 450px;
  height: auto;
}
.main-container {
  
  margin-top: -450px;
}
.main-container button {
  padding: 20px;
}
@media(min-width:1515px){
  .email-box{
    margin-right: 100px;

  }
  
}
@media only screen and (max-width:1515px) and (min-width:959px){
  .email-box{
    margin-top: -100px;
  }
  
}

@media (max-width: 700px) {
  .release {
    width: 350px;
    margin-top: 30px;
  }
  .main-container {
    margin-top: -370px;
  }
  .main-container h1 {
    font-size: 55px;
  }
  .main-container span {
    font-size: 43px;
  }
  .main-container button {
    font-size: 30px;
  }
}

.close {
  height: 0px;
  transition: 0.5s;
}
.open {
  height: 100vh;
  transition: 0.5s;
}

.img_shadow{
  box-shadow: 0px 8px 8px #000000;;
   text-shadow: 0px 8px 8px #000000;
   border: solid  1px white;
}

.container-news{
  background-image: url("../Components/assets/5FF-big.png");
  background-size: 200px;
  background-repeat: repeat;
  background-position-x: center;
  background-blend-mode: multiply;

}